@model WeatherForecast.UI.Model.WeatherForecastViewModel

@{
    ViewBag.Title = "Weather Forecast";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="panel">
            <div class="panel-title">
                <div class="d-flex justify-content-between">
                    <font style="vertical-align: inherit;"><h2 class="text-info">Weather Forecast of Ankara</h2></font>
                </div>
              
            </div>
            <div class="panel-body">

                <div class="row mb-2">
                    <div class="col-md-6 col-sm-12">
                        <input type="button" value="Get Weather Info" onclick="GetWeatherForecast()"/>
                    </div>
                </div>
               

                <table id="weatherDT" class="table  table-bordered table-hover table-striped table-responsive-xl  w-100">
                    <thead>
                        <tr>
                            <th> Name</th>
                            <th> Temperature</th>
                            <th> Description</th>
                            <th> Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>


            </div>
            <div class="row mb-2">
                <canvas id="chart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var chartName = "chart";  
            var ctx = document.getElementById(chartName).getContext('2d');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [],
                  datasets: [{
                    data: [],
                    backgroundColor: '#404040',
                    fill: false,
                    animations: false
                  }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
        });
        function GetWeatherForecast() {
                $.ajax({
                    url: "Weather/GetWeatherForecast",
                    dataType: 'json',
                    success: function(result) {
                        var table = $('#weatherDT').DataTable();
                        table.clear();
                        table.rows.add(result.data);
                        table.draw(true);
                        
                        var indx = result.data.length - 1;
                        myLineChart.data.labels.push(result.data[indx].date);
                        myLineChart.data.datasets[0].data.push(result.data[indx].temperature);
                        myLineChart.update();
                    }
                });
        };
        $(document).ready(function () {
            var table = $('#weatherDT').DataTable({
                        columns: [
                            { "data": "name" },
                            { "data": "temperature" },
                            { "data": "description" },
                            { "data": "date" }
                        ],
                        columnDefs: [ { "defaultContent": "-", "targets": "_all" } ]
                    })
            
        });

    </script>


}